#quick_preset_ref_del_col_qs, #quick_preset_ref_del_col_ds{
    min-width: unset !important;
    min-height: unset !important;
    flex-grow: 0 !important;
    padding: 0;
    row-gap: 0;
}

#quick_preset_ref_del_col_qs > button, #quick_preset_ref_del_col_ds > button{
    max-width: 1.4em;
    max-height: 1.4em;
    flex-grow: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin: 0.1em 0;
}

#quick_preset_ref_del_col_ds > button[id=quick_preset_del_ds_bttn]{
    max-width: unset;
    max-height: 1.75em;
}
#quick_preset_ref_del_col_qs > div[class*=gr-form], #quick_preset_ref_del_col_ds > div[class*=gr-form]{
    min-width: unset !important;
    min-height: unset !important;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin: 0.1em 0;
    flex-grow: 0;
}

#quick_preset_ref_del_col_qs div[id=preset_util_stackable_check_det], #quick_preset_ref_del_col_ds div[id=preset_util_stackable_check_det]{
    padding: 0.125em;
}


#txt2img_styles_row, #img2img_styles_row {
    display: grid !important;
    grid-template-columns: 4fr 1fr !important;
}

button#quick_preset_save {
    height: 70%;
    margin-top: 10px;
}

#txt2img_clear_prompt, #paste, #txt2img_extra_networks, #txt2img_style_apply, #txt2img_style_create, #txt2img_styles, #refresh_txt2img_styles {
    display: none;
}

#img2img_clear_prompt, #paste, #img2img_extra_networks, #img2img_style_apply, #img2img_style_create, #img2img_styles, #refresh_img2img_styles {
    display: none;
}

#quick_preset_preset_dd label span {
    display: none;
}
#quick_preset_preset_dd label select {
    display: block;
}
